@model List<Model.EF.ChuongTruyen>
@{
    ViewBag.Title = "Content";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Nội dung truyện</title>
</head>

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Nội dung truyện</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Admin/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Nội dung truyện</li>
        </ol>
        <div class="col-lg-4"></div> <a class="button" href="/Admin/Story/CreateContent">Thêm mới chương</a>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên truyện</th>
                            <th>Tên chương</th>
                            <th>Nội dung</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Tên truyện</th>
                            <th>Tên chương</th>
                            <th>Nội dung</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var it in Model)
                        {
                            <tr>
                                <td>@it.Id_Truyen</td>
                                <td>@it.Truyen.Ten_Truyen</td>
                                <td>@it.Ten_Chuong</td>
                                <td>@it.NoiDung_Chuong</td>>
                                <td>
                                    <a href="/Admin/Story/EditContent?@it.Id_Chuong">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = it.Id_Chuong }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa chương truyện này?",
                                   OnComplete = "$('#row_" + it.Id_Chuong + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
