@model Model.EF.ChuongTruyen
@{
    ViewBag.Title = "EditContent";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Sửa chương truyện</title>
</head>

@using (Html.BeginForm("Edit", "Story", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id_Chuong)
    <div class="form-horizontal">
        <div class="card-header"><h3 class="text-center font-weight-light my-4 mt">Sửa chương truyện</h3></div>
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="card-body">
            <div class="row mb-2 justify-content-center">
                <div class="col-md-8">
                    <div class="form-floating mb-3 mb-md-0">
                        @Html.TextBoxFor(model => model.Ten_Chuong, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Tên chương" })
                        <label for="inputName">Tên chương</label>
                    </div>
                </div>
            </div>
            <div class="row mb-2 justify-content-center">
                <div class="col-md-4">
                    <div class="form-floating mb-3 mb-md-0">
                        @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "MetaTitle" })
                        <label for="inputMetaTitle">MetaTitle</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-floating mb-3 mb-md-0">
                        @Html.TextBoxFor(model => model.NoiDung_Chuong, new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Nội dung" })
                        <label for="inputNoiDung">Nội dung</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Sửa" class="btn btn-primary my-2" />
                </div>
            </div>
        </div>
    </div>
}
