@model List<Model.ViewModel.StoryViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<head>
    <title>Danh sách truyện</title>
</head>

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh sách truyện</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/Admin/Home">Trang chủ</a></li>
            <li class="breadcrumb-item active">Danh sách truyện</li>
        </ol>
        <div class="col-lg-4"></div> <a class="button" href="/Admin/Story/Create">Thêm mới truyện</a>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Tên truyện</th>
                            <th>Giới thiệu</th>
                            <th>Tác giả</th>
                            <th>Thể loại</th>
                            <th>Số chương</th>
                            <th>Avatar</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Tên truyện</th>
                            <th>Giới thiệu</th>
                            <th>Tác giả</th>
                            <th>Thể loại</th>
                            <th>Nội dung</th>
                            <th>Avatar</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var it in Model)
                        {
                            <tr>
                                <td>@it.ID</td>
                                <td>@it.Name</td>
                                <td>@it.GioiThieu</td>
                                <td>@it.NameAuthor</td>
                                <td>@it.NameCategory</td>
                                <td><a href="/Admin/Story/Content/@it.ID">Chi tiết</a></td>
                                <td>@it.Avt</td>
                                <td>@it.Status</td>
                                <td>
                                    <a href="/Admin/Story/Edit/@it.ID">Sửa</a>
                                    |
                                    @Ajax.ActionLink("Xóa", "Delete", new { @id = it.ID }, new AjaxOptions
                               {
                                   Confirm = "Bạn có muốn xóa truyện này?",
                                   OnComplete = "$('#row_" + it.ID + "').remove()",
                                   HttpMethod = "Delete"
                               })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

